*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #f5f5f5;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
}

.card img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.card-main{
  background-color: #131313;
  color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  padding: 30px;
}